html, body {
  background-color: #262626;
  color: #B1B1B1;
  font-family: Helvetica, Arial, sans-serif;

  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper {
  display:flex;
  flex-direction:column;
  height:100vh;
}

.columnlayout {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 300px;
  border-left: 2px solid #161616;
}

.content {
  padding: 10px 20px 0 20px;
  overflow-y: scroll;
  height: calc(100vh - 58px);
}

.menubar {
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: 18px;
  border-bottom: 2px solid #161616;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;

  display: flex;
  justify-content: center;
}

.menubar div {
  width: 274px;
  padding: 12px;
}

.menubar * a {
  color: #B1B1B1;
}

.menubar * a:hover {
  color: #319aee;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: #B1B1B1;
}