<!DOCTYPE html>
<html>
<head>
  <title>2-IMMERSE</title>
  <script type="text/javascript" src="{{url_for('static', filename='dist/landing_page.js') + '?key=' + key}}"></script>
  <style>
    .buttons {
      display:flex;
      flex-direction:row;
      justify-content:center;

      margin-top:45px;
    }

    .button {
      width:250px;
      margin:10px;
    }

    .caption {
      margin-top:12%;
      text-align:center;
      color:#E2E2E2;
    }
  </style>
</head>
<body>
  <h1 class="caption title is-1">2-IMMERSE Authoring Platform</h1>
  <div class="buttons">
    <a class="button is-info is-medium" href="/editor">Preproduction Authoring</a>
    <a class="button is-info is-medium" href="/trigger">Live Triggering</a>
  </div>
</body>
</html>
