<!DOCTYPE html>
<html>
<head>
  <title>2-IMMERSE</title>
  <script type="text/javascript" src="{{url_for('static', filename='dist/landing_page.js')}}"></script>
  <style>
    .wrapper {
      width:545px;
      margin:45px auto 0 auto;
    }

    .button {
      width:250px!important;
      margin:10px;
    }

    .caption {
      margin-top:12%;
      text-align:center;
      color:#E2E2E2;
    }
  </style>
</head>
<body>
  <h1 class="caption title is-1">2-IMMERSE Authoring Platform</h1>
  <div class="wrapper">
    <a class="button is-info is-medium" href="/editor">Preproduction Authoring</a>
    <a class="button is-info is-medium" href="#">Live Triggering</a>
  </div>
</body>
</html>
